
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!--begin home_wrapper -->
<section id="home_wrapper" class="home-wrapper">

    <!--begin gradient_overlay -->
    <div class="gradient_overlay"></div>
    <!--end gradient_overlay -->
    <!--begin container-->
    <div class="container home-wrappe-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-12-->
            <div class="col-md-12 text-center">

                <h1 class="home-title wow fadeIn" data-wow-delay="0.5s">Taguig Public Goods Distribution</h1>

                <p class="home-subtitle wow fadeIn" data-wow-delay="1s">
                    The Public Goods Distribution System (Goods To Go) was aimed to help residents of Taguig City in claiming their foodpacks <br> in a convenient way while minimising the chance of spreading the disease known as covid-19.
                </p>

                <a href=@Url.Action("Register" ,"Form" ) class="btn btn-lg btn-blue scrool wow fadeIn" data-wow-delay="1.5s">Register</a>

                <a href=@Url.Action("Login" ,"Form" ) class="btn btn-lg btn-margin btn-white scrool wow fadeIn" data-wow-delay="1.75s">Login</a>

            </div>
            <!--end col-md-12-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end home_wrapper -->
<!--begin section-grey-->
<div class="section-grey sponsors-padding">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row text-center">

            <!--begin col-sm-12-->
            <div class="col-sm-12 sponsors">

                <img src="~/images/logo.png" height="100" width="900" />
            </div>
            <!--end col-sm-12-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</div>
<!--end section-grey-->
<!--begin features-->
<section id="features">

    <!--begin section-white-->
    <div class="section-white small-padding-bottom">

        <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row margin-bottom-30">

                <!--begin col-md-12-->
                <div class="col-md-12 text-center">
                    <h2 class="section-title">The system offer: </h2>

                    <div class="separator_wrapper">
                        <i class="icon icon-star-two red"></i>

                        <!--end col-md-12-->

                    </div>
                    <!--end row-->
                    <!--begin row-->
                    <div class="row">

                        <!--begin col-sm-4-->
                        <div class="col-sm-4 features-item">

                            <div class="icon-wrapper">
                                <i class="icon icon-settings-streamline-2 features-icon"></i>
                            </div>
                            <link href="~/assets/css/dark-theme.css" rel="stylesheet" />

                            <h3>Digital Services</h3>

                            <p>
                                This application aimed to help residents of Taguig City in claiming their foodpacks.
                            </p>

                        </div>
                        <!--end col-sm-4-->
                        <!--begin col-sm-4-->
                        <div class="col-sm-4 features-item">

                            <div class="icon-wrapper">
                                <i class="icon icon-streamline-umbrella-weather features-icon"></i>
                            </div>

                            <h3>Booking Form</h3>

                            <p>
                                The system will include a booking system that will allow users to schedule the day and time for their goods to be picked up.
                            </p>

                        </div>
                        <!--end col-sm-4-->
                        <!--begin col-sm-4-->
                        <div class="col-sm-4 features-item">

                            <div class="icon-wrapper">
                                <i class="icon icon-speech-streamline-talk-user features-icon"></i>
                            </div>

                            <h3>Notification Alert</h3>

                            <p>
                                The system includes a reminder alert via the usage of Google mail to remind them of their upcoming appointments.
                            </p>

                        </div>
                        <!--end col-sm-4-->

                    </div>
                    <!--end row-->

                </div>
                <!--end container-->

            </div>
            <!--end section-white-->
        </div>
    </div>
</section>
<!--end features-->
<!--begin section-grey -->
<!--end section-grey-->
<!--begin fun-facts -->
<div class="fun-facts-wrapper">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container fun-facts-inside">

        <!--begin row-->
        <div class="row">

            <!--begin fun-facts-box -->
            <div class="fun-facts-box text-center wow fadeIn" data-wow-delay="0.15s">

                <i class="icon icon-design-pencil-rule-streamline"></i>

                <p class="fun-facts-title"><span class="facts-numbers">STEP 1</span><br>Register and login</p>

            </div>
            <!--end fun-facts-box -->
            <!--begin fun-facts-box -->
            <div class="fun-facts-box text-center wow fadeIn" data-wow-delay="0.3s">

                <i class="icon icon-streamline-umbrella-weather"></i>

                <p class="fun-facts-title"><span class="facts-numbers">STEP 2</span><br>Create Profile</p>

            </div>
            <!--end fun-facts-box -->
            <!--begin fun-facts-box -->
            <div class="fun-facts-box text-center wow fadeIn" data-wow-delay="0.45s">

                <i class="icon icon-crown-king-streamline"></i>

                <p class="fun-facts-title"><span class="facts-numbers">STEP 3</span><br>Fill up Booking Form</p>

            </div>
            <!--end fun-facts-box -->
            <!--begin fun-facts-box -->
            <div class="fun-facts-box text-center wow fadeIn" data-wow-delay="0.6s">

                <i class="icon icon-cocktail-mojito-streamline"></i>

                <p class="fun-facts-title"><span class="facts-numbers">STEP 4</span><br>Check your gmail</p>

            </div>
            <!--end fun-facts-box -->
            <!--begin fun-facts-box -->
            <div class="fun-facts-box text-center wow fadeIn" data-wow-delay="0.75s">

                <i class="icon icon-speech-streamline-talk-user"></i>

                <p class="fun-facts-title"><span class="facts-numbers">STEP 5</span><br>Pick up your goods.</p>

            </div>
            <!--end fun-facts-box -->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</div>
<!--end fun-facts -->
<!--begin portfolio -->
<section class="section-white portfolio-padding" id="portfolio">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row margin-bottom-50">

            <!--begin col-md-12-->
            <div class="col-md-12 text-center">
                <h2 class="section-title">Our Latest Work</h2>

                <div class="separator_wrapper">
                    <i class="icon icon-star-two blue"></i>
                </div>

                <p class="section-subtitle">There are many variations of passages of Lorem Ipsum available, but the majority<br>have suffered alteration, by injected humour, or new randomised words.</p>
            </div>
            <!--end col-md-12-->

        </div>
        <!--end row-->
        <!--begin row-->
        <div class="row">

            <!--begin col-sm-4-->
            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.15s">

                <!--begin popup-gallery-->
                <div class="popup-gallery first-gallery portfolio-pic">


                    <a class="popup2" href="https://i.postimg.cc/JzDHKbZR/FB-IMG-1643096978444.jpg"> <img src="~/images/FB_IMG_1643096978444.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="icon icon-cursor-move eye-icon" style="font-size: 38px;"></i></span></a>
                </div>
                <!--end popup-gallery-->

            </div>
            <!--end col-sm-4-->
            <!--begin col-sm-4-->
            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.30s">

                <!--begin popup-gallery-->
                <div class="popup-gallery first-gallery portfolio-pic">
                    <a class="popup2" href="https://i.postimg.cc/90sCfqMB/FB-IMG-1643096982167.jpg">
                        <img src="~/images/FB_IMG_1643096982167.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="icon icon-cursor-move eye-icon" style="font-size: 38px;"></i></span>
                    </a>
                </div>
                <!--end popup-gallery-->

            </div>
            <!--end col-sm-4-->
            <!--begin col-sm-4-->
            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.45s">

                <!--begin popup-gallery-->
                <div class="popup-gallery first-gallery portfolio-pic">
                    <a class="popup2" href="https://i.postimg.cc/9QR1Twf7/IMG-20220125-201305.jpg">
                        <img src="~/images/IMG_20220125_201305.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="icon icon-cursor-move eye-icon" style="font-size: 38px;"></i></span>
                    </a>
                </div>
                <!--end popup-gallery-->

            </div>
            <!--end col-sm-4-->

        </div>
        <!--end row-->
        <!--begin row-->
        <div class="row">

            <!--begin col-sm-4-->
            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.60s">

                <!--begin popup-gallery-->
                <div class="popup-gallery first-gallery portfolio-pic">
                    <a class="popup2" href="https://i.postimg.cc/xdjv5kf5/IMG-20220125-201336.jpg">
                        <img src="~/images/IMG_20220125_201336.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="icon icon-cursor-move eye-icon" style="font-size: 38px;"></i></span>
                    </a>
                </div>
                <!--end popup-gallery-->

            </div>
            <!--end col-sm-4-->
            <!--begin col-sm-4-->
            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.75s">

                <!--begin popup-gallery-->
                <div class="popup-gallery first-gallery portfolio-pic">
                    <a class="popup2" href="https://i.postimg.cc/Przv7tFR/IMG-20220125-201416.jpg">
                        <img src="~/images/IMG_20220125_201416.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="icon icon-cursor-move eye-icon" style="font-size: 38px;"></i></span>
                    </a>

                </div>
                <!--end popup-gallery-->

            </div>
            <!--end col-sm-4-->
            <!--begin col-sm-4-->
            <div class="col-sm-4 wow fadeIn" data-wow-delay="1s">


                <!--begin popup-gallery-->
                <div class="popup-gallery first-gallery portfolio-pic">
                    <a class="popup2" href="https://i.postimg.cc/Przv7tFR/IMG-20220125-201416.jpg">
                        <img src="~/images/IMG_20220126_134232.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="icon icon-cursor-move eye-icon" style="font-size: 38px;"></i></span>
                    </a>
                </div>
                <!--end popup-gallery-->

            </div>
            <!--end col-sm-4-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end portfolio-->
<!--begin register -->
<!--end register-->
<!--begin team -->
<section class="section-white small-padding-bottom" id="team">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row margin-bottom-50">

            <!--begin col-md-12-->
            <div class="col-md-10 col-md-offset-1 text-center">
                <h2 class="section-title">Meet Our Amazing Team</h2>

                <div class="separator_wrapper">
                    <i class="icon icon-star-two blue"></i>
                </div>

            </div>
            <!--end col-md-12-->

        </div>
        <!--end row-->
        <!--begin row-->
        <div class="row">

            <div id="myCarousel" class="carousel carousel1 slide margin-bottom-40" data-interval="false">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">

                        <!--begin team-item -->
                        <div class="col-sm-4 team-item">

                            <!--begin team-popup -->
                            <div class="team-popup">


                                <img src="~/images/Untitled design.png" class="width-100" alt="pic">

                                <div class="team-popup-overlay">

                                    <div class="team-icon">

                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-pinterest"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-youtube"></i>
                                        </a>

                                    </div>

                                </div>

                            </div>
                            <!--end team-popup -->
                            <!--begin team_box -->
                            <div class="team-box">

                                <h3>Aina Kathleen Baylon</h3>

                                <p class="team-info">Researcher</p>

                            </div>
                            <!--end team_box -->

                        </div>
                        <!--end team-item -->
                        <!--begin team-item -->
                        <div class="col-sm-4 team-item">

                            <!--begin team-popup -->
                            <div class="team-popup">



                                <img src="~/images/Untitled design (2).png" class="width-100" alt="pic">

                                <div class="team-popup-overlay">

                                    <div class="team-icon">

                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-pinterest"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-youtube"></i>
                                        </a>

                                    </div>

                                </div>

                            </div>
                            <!--end team-popup -->
                            <!--begin team_box -->
                            <div class="team-box">

                                <h3>Abigail Anne Calaminos</h3>

                                <p class="team-info">Programmer</p>

                            </div>
                            <!--end team_box -->

                        </div>
                        <div class="col-sm-4 team-item">

                            <!--begin team-popup -->
                            <div class="team-popup">


                                <img src="~/images/Untitled design (1).png" class="width-100" alt="pic">

                                <div class="team-popup-overlay">

                                    <div class="team-icon">

                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-pinterest"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-youtube"></i>
                                        </a>

                                    </div>

                                </div>

                            </div>
                            <!--end team-popup -->
                            <!--begin team_box -->
                            <div class="team-box">

                                <h3>Kimberly Terante</h3>

                                <p class="team-info">Designer</p>

                            </div>
                            <!--end team_box -->

                        </div>
                        <div class="col-sm-4 team-item">

                            <!--begin team-popup -->
                            <div class="team-popup">



                                <img src="~/images/Untitled design (6).png" class="width-100" alt="pic">

                                <div class="team-popup-overlay">

                                    <div class="team-icon">

                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-pinterest"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-youtube"></i>
                                        </a>

                                    </div>

                                </div>

                            </div>
                            <!--end team-popup -->
                            <!--begin team_box -->
                            <div class="team-box">

                                <h3>Alfredo Albito Jr.</h3>

                                <p class="team-info">Programmer</p>

                            </div>
                            <!--end team_box -->

                        </div>
                        <!--end team-item -->
                        <!--begin team-item -->
                        <div class="col-sm-4 team-item">

                            <!--begin team-popup -->
                            <div class="team-popup">


                                <img src="~/images/Untitled design (4).png" class="width-100" alt="pic">

                                <div class="team-popup-overlay">

                                    <div class="team-icon">

                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-pinterest"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon icon-youtube"></i>
                                        </a>

                                    </div>

                                </div>

                            </div>
                            <!--end team-popup -->
                            <!--begin team_box -->
                            <div class="team-box">

                                <h3>Marvin Adriano</h3>

                                <p class="team-info">Designer</p>

                            </div>
                            <!--end team_box -->

                        </div>
                        <!--end team-item -->

                    </div>
                    <div class="col-sm-4 team-item">

                        <!--begin team-popup -->
                        <div class="team-popup">


                            <img src="~/images/Untitled design (5).png" class="width-100" alt="pic">

                            <div class="team-popup-overlay">

                                <div class="team-icon">

                                    <a href="#">
                                        <i class="icon icon-twitter"></i>
                                    </a>

                                    <a href="#">
                                        <i class="icon icon-facebook"></i>
                                    </a>

                                    <a href="#">
                                        <i class="icon icon-pinterest"></i>
                                    </a>

                                    <a href="#">
                                        <i class="icon icon-youtube"></i>
                                    </a>

                                </div>

                            </div>

                        </div>
                        <!--end team-popup -->
                        <!--begin team_box -->
                        <div class="team-box">

                            <h3>Kenneth Japson</h3>

                            <p class="team-info">Researcher</p>

                        </div>
                        <!--end team_box -->

                    </div>
                    <!--end team-item -->

                </div>

                <!--end team_box -->
                <!--end team-item -->

            </div>


        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end team-->
<!--begin services-->
<!--end services-->
<!--begin image-section -->
<section class="image-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-10 col-md-offset-1 text-center margin-top-110 margin-bottom-140">

                <h2 class="large-title white">Goods To Go</h2>

                <p class="section-subtitle white">Let's Schedule our goods now!</p>

                <a href=@Url.Action("Register" ,"Form" ) class="btn btn-lg btn-blue margin-top-20 scrool">Register Now!</a>

            </div>
            <!--end col-md-6-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end image-section -->
<!--begin blog -->
<!--end contact-->
<script src="~js/jquery-1.11.3.min.js"></script>
<script src="~js/bootstrap.min.js"></script>
<script src="~js/jquery.magnific-popup.min.js"></script>
<script src="~js/jquery.nav.js"></script>
<script src="~js/jquery.scrollTo-min.js"></script>
<script src="~js/SmoothScroll.js"></script>
<script src="~js/wow.js"></script>
<script src="~js/custom.js"></script>
<script src="~js/plugins.js"></script>



